body {
    height: 100vh;
    background: url("../Anime-Night-Manga.jpg") no-repeat center center fixed;
 }
 
 .keyboard {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     padding: 5px 0;
     background: white;
     box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
     user-select: none;
     transition: bottom 0.4s;
 }
 
 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 /* dark mode and light mode */
 .header-container {
     display: flex;
     justify-content: start;
     align-items: center;
    cursor: pointer;
 }
 
 .label {
     height: 30px;
     width: 80px;
     background-color: #8f8a8a;
     border-radius: 30px;
     -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
         inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px  rgba(0, 0, 0, 0.096)
         inset 0 0 0 3px rgba(0, 0, 0, 0.3);
     box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
         inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096)
         inset 0 0 0 3px rgba(0, 0, 0, 0.3);
     display: -webkit-box;
     display: -ms-flexbox;
     -ms-flex-align: center;
     display: flex;
     -webkit-box-align: center;
     cursor: pointer;
     position: relative;
     -webkit-transition: -webkit-transform 0.4s ;
     transition: -webkit-transform 0.4s;
     transition: transform 0.4s;
 }
 .label:hover {
     -webkit-transform: perspective(100px) rotateX(3deg) rotateY(-3deg);
     transform: perspective(100px) rotateX(3deg) rotateY(-3deg);
 }
 
 #checkbox {
     display: none;
 }
 
 #checkbox:checked ~ .label:hover {
     -webkit-transform: perspective(100px) rotateX(-3deg) rotateY(3deg);
     transform: perspective(100px) rotateX(-3deg) rotateY(3deg);
 }
 #checkbox:checked ~ .label::before {
     left: 45px;
     background-color: #000000;
     background-image: linear-gradient(
         315deg,
         #000000 0%,
         #bfbcbc 70%,
        
     );
   -webkit-transition: 0.4s;
   transition: 0.4s;
 }
 
 .label:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     background-color: #000000;
     background-image: linear-gradient(
         130deg,
         #2e2d2d 10%,
         #ffffff 11%,
         #272525 62%
     );
     left: 10px;
     -webkit-box-shadow:  0 2px 1px rgba(0, 0, 0, 0.3),
          10px 10px 10px  rgba(0, 0, 0, 0.3);
         box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3),
          10px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.4s;
     transition: 0.4s;
 }
 /* cacher le clavier */

 
 .keyboard__keys {
     text-align: center;
 }
 
 .keyboard__key {
     height: 45px;
     width: 6%;
     max-width: 90px;
     margin: 3px;
     border-radius: 4px;
     border: none;
     background: #363939;
     color:white;
     font-size: 1.05rem;
     outline: none;
     cursor: pointer;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     vertical-align: top;
     padding: 0;
     -webkit-tap-highlight-color: transparent;
     position: relative;
 }

 .keyboard--hidden {
     bottom: -100%;
     transition: bottom 0.4s;
 }
 
 .keyboard__key:active {
     background: rgba(255, 255, 255, 0.12);
     transition: 0.5s;
 }
 
 .keyboard__key--wide {
     width: 12%;
 }
 
 .keyboard__key--extra-wide {
     width: 36%;
     max-width: 500px;
 }
 
 .keyboard__key--activatable::after {
     content: '';
     top: 10px;
     right: 10px;
     position: absolute;
     width: 8px;
     height: 8px;
     background: rgba(187, 184, 184, 0.25);
     border-radius: 50%;
 }
 #textArea {
     width: 100%;
     height: 20%;
     padding: 10px;
     cursor: black;
     font-size: 14px;
     border: none;
     outline: none;
     border-radius: 5px;
     background: #f4f7f78b;
     color: #000000;
     resize: none;
     box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.395);
 }
 /* Uppercase actif - couleur jaune !! */
 .keyboard__key--active::after {
     background: rgb(244, 244, 17);
 }
 
 .keyboard__key--dark {
     background: #363939;
 }
 
 

/* Responsive design - Smartphones */
@media all and (max-width:570px) {
    .keyboard__key {
        width: 6%;
        font-size: 0.6rem;
    }
    .keyboard__key--wide {
        width: 10%;
    }
    .keyboard__key--extra-wide {
        width:30%;
    }
    #textArea {
        font-size: 12px;
        height: 15%;
    }
  
}

/* Responsive design - Tablets */
@media all and (max-width:800px) {
    .keyboard__key {
        width: 8%;
        font-size: 0.9rem;
    }
    .keyboard__key--wide {
        width: 16%;
    }
    .keyboard__key--extra-wide {
        width: 32%;
    }
    #textArea {
        font-size: 13px;
        height: 18%;
    }
}


/* Responsive design - Large screens */
@media all and (max-width:1350px) {
    .keyboard__key {
        width: 5%;
        font-size: 1.1rem;
    }
    .keyboard__key--wide {
        width: 10%;
    }
    .keyboard__key--extra-wide {
        width: 30%;
    }
    #textArea {
        font-size: 16px;
        height: 25%;
    }
}